<div class="container">
    <div class="row">
        <h2>{{flat.name}}</h2>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h3>Flat info</h3>
            <div ng-if="isFlatAdmin">
                <p>You're this flat's administrator.</p>
            </div>
            <p ng-if="users.length > 1">Flat mates:</p>
            <ul ng-if="users.length > 1">
                <li ng-repeat="user in users">{{ user.mail }}</li>
            </ul>

            <div ng-if="isFlatAdmin">
            <h3>Add new flat mate</h3>

            <div class="form-group" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
                <form name="flatMateForm" ng-submit="addFlatMate()" role="form">
                    <label for="flatMateMail">New flat mate's e-mail</label>
                    <input type="email" name="flatMateMail" id="flatMateMail" class="form-control"
                    ng-model="newFlatMate.mail" required />
                    <button type="submit" class="btn btn-primary btn-xs" ng-disabled="flatMateForm.$invalid">
                        <i class="fa fa-plus-square" aria-hidden="true"></i> Add flat mate
                    </button>
                </form>
            </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Notes</h3>
            <div class="bottom-buffer">
            <button type="button" class="btn btn-primary btn-xs" ng-click="addNote()">
                <i class="fa fa-plus-square" aria-hidden="true"></i> Add
            </button>
            </div>

            <div class="panel panel-default" ng-repeat="note in notes | orderBy:'-date'">
                <div class="panel-heading note-header">
                    <div><i class="fa fa-times with-pointer text-danger" aria-hidden="true"
                    ng-click="removeNote(note)"></i></div>
                </div>
                <div contenteditable ng-model="note.content" ng-blur="updateNote(note)" class="panel-body">
                    {{ note.content }}
                </div>
                <div class="panel-footer text-right">
                    <div>Author: {{ note.author_mail }}</div>
                    <div>Last edited: {{ note.date | date : 'dd.MM.yyyy, H:mm' }}</div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <h3>Chores</h3>
            <div class="bottom-buffer">
            <button type="button" class="btn btn-primary btn-xs" ng-click="goToChores()">
                Go to chores panel
            </button>
            </div>

            <table class="table table-hover table-responsive">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Chore name</th>
                    <th>Due date</th>
                    <th>Responsible</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td class="with-pointer">Robienie duzo</td>
                    <td>26.12.2017</td>
                    <td>andzrj@gmail.com</td>
                  </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>
