<h2>Your flats</h2>

<table ng-if="flats.length > 0" class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>ID</th>
        <th>Flat name</th>
        <th>Admin</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="flat in flats">
        <td>{{ flat.id }}</td>
        <td class="with-pointer" ng-click="goToFlat(flat.id)"><a href="">{{ flat.name }}</a></td>
        <td>{{ flat.admin_mail }}</td>
        <td><i class="fa fa-times with-pointer" aria-hidden="true" ng-click="removeFlat(flat.id)"></i></td>
      </tr>
    </tbody>
</table>

<p ng-if="flats.length < 1">You don't belong to any flat yet. Create one or ask somebody to invite you!</p>

<button ng-click="startCreating()" class="btn btn-primary">Create flat</button>
