<div class="container">
    <div class="row">
        <h2><a href="#!/flat/{{flat.id}}">{{flat.name}}</a> - chores</h2>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>Defined</h3>
            <div class="bottom-buffer">
            <button type="button" class="btn btn-primary btn-xs" ng-click="goToAddChore()">
                <i class="fa fa-plus-square" aria-hidden="true"></i> Add
            </button>
            </div>

            <table ng-if ="chores.length > 0" class="table table-hover table-responsive">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Chore name</th>
                    <th>Frequency</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="chore in chores">
                    <td>{{ chore.id }}</td>
                    <td>{{ chore.name }}</td>
                    <td>{{ chore.frequency_id }}</td>
                    <td>
                        <i title="Edit" class="fa fa-pencil with-pointer" aria-hidden="true" ng-click="goToEditChore(chore.id)"></i>
                        <i title="Schedule" class="fa fa-calendar with-pointer" aria-hidden="true" ng-click="goToSchedule(chore.id)"></i>
                        <i title="Clear schedule" class="fa fa-level-down with-pointer" aria-hidden="true"
                            ng-click="resetScheduleForChore(chore)"></i>
                        <i title="Remove defined chore" class="fa fa-times with-pointer" aria-hidden="true" ng-click="removeChore(chore)"></i>
                    </td>
                  </tr>
                </tbody>
            </table>

        <p ng-if="chores.length < 1">You don't have any defined chores! You lazy!</p>
        </div>

        <div class="col-md-6">
            <h3>Scheduled</h3>
            <div class="bottom-buffer">
            </div>

            <table ng-if="scheduledChores.length > 0" class="table table-hover table-responsive">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Chore name</th>
                    <th>Due date</th>
                    <th>Responsible</th>
                    <th>Done</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="chore in scheduledChores">
                    <td>{{ chore.id }}</td>
                    <td>{{ chore.name }}</td>
                    <td>{{ chore.date * 1000 | date : 'dd.MM.yyyy (EEEE)' }}</td>
                    <td>{{ chore.assigned_mail }}</td>
                    <td>
                        <button type="button" class="btn btn-success btn-xs" ng-click="toggleChoreDone(chore)">
                            <i class="fa fa-check" aria-hidden="true"></i> Mark done
                    </td>
                  </tr>
                </tbody>
            </table>

            <p ng-if="scheduledChores.length == 0">You have no scheduled chores. You can schedule your chores using
            'schedule' action.</p>

            <h3>Recently done</h3>
            <div class="bottom-buffer">
            </div>

            <table ng-if="recentlyDoneChores.length > 0" class="table table-hover table-responsive">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Chore name</th>
                    <th>Due date</th>
                    <th>Responsible</th>
                    <th>Done</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="chore in recentlyDoneChores">
                    <td>{{ chore.id }}</td>
                    <td>{{ chore.name }}</td>
                    <td>{{ chore.date * 1000 | date : 'dd.MM.yyyy (EEEE)' }}</td>
                    <td>{{ chore.assigned_mail }}</td>
                    <td>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="toggleChoreDone(chore)">
                            <i class="fa fa-check" aria-hidden="true"></i> Mark undone
                    </td>
                  </tr>
                </tbody>
            </table>
            <p ng-if="recentlyDoneChores.length == 0">You have no recently done chores.</p>

        </div>

    </div>
</div>
